<div class="container">
	<input type="file" (change)="onFileChange($event)" multiple="false" class="btn btn-primary btn-lg btn-block" />
	<div *ngIf="excelData[0]">
		<table class="sjs-table">
			<tr>
				<th>Store Radius</th>
				<th>Store Address</th>
				<th>Store Name</th>
				<th>Date start</th>
				<th>Date end</th>
				<th>Notification Title</th>
				<th>Notification Body</th>
				<th>lng</th>
				<th>lat</th>
			</tr>
			<tr *ngFor="let row of excelData">
				<td *ngFor="let val of row">
					{{val}}
				</td>
			</tr>
		</table>
		<button (click)="export()" class="btn btn-primary btn-lg btn-block export">Export to back-end!</button>
	</div>
</div>