<app-header></app-header>
<div class="container">
	<div class="panel-heading">
		<div class="panel-title text-center">
			<h1 class="title">Analytics</h1>
			<hr />
		</div>
	</div> 
	<div>
		<label for="brandSelect">Select brand</label>
		<select name="brandSelect" [(ngModel)]="selectedBrand" (ngModelChange)="onSelectBrand($event)">
			<option *ngFor="let c of companies" [ngValue]="c">{{c.brandName}}</option>
		</select>
	</div>
	<div *ngIf="selectedBrand">
		<label for="selectedStore">Select store</label>
		<select name="selectedStore" [(ngModel)]="selectedStore" (ngModelChange)="onSelectStore($event)">
			<option selected value> -- select an option -- </option>
			<option *ngFor="let c of stores" [ngValue]="c">{{c.storeName}}</option>
		</select>
	</div>
</div>